/* Theme Variables */
body.light-mode {
  --background-color: #ffffff;
  --text-color: #000000;
  --link-color: #007bff;
  --header-background: #f8f9fa;
  --header-text-color: #000000;
  --footer-background: #f8f9fa;
  --footer-text-color: #000000;
}

body.dark-mode {
  --background-color: #000C18;
  --text-color: #ffffff;
  --link-color: #bb86fc;
  --header-background: #10192C;
  --header-text-color: #ffffff;
  --footer-background: #10192C;
  --footer-text-color: #ffffff;
}

/* Global Styles */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: Arial, sans-serif;
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/* Navigation Styles */
nav a {
  margin: 0 1rem;

  &.active {
    font-weight: bold;
    text-decoration: underline;
  }
}